.contact{
    padding: 10px;
}

.contact .top{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #EEEEEE;
}
.contact .top .title{
    float: left;
    font-weight: 800;
    font-size: 16px;
}

.contact .top .select{
    float: right;
    margin-top: 8px;
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    border: 1px solid #69D5EE;
    color: #69D5EE;
}

.contact .item{
	height: 45px;
	line-height:45px;
	border-bottom: 1px solid #eee;
}
.contact .person-name{
    width: 70%;
	border:none;
}
