/* Base Application Styles */
*{
    padding: 0;
    margin: 0;
}
body {
  background: #F2F2F2;
}
i{
  font-style: normal;
}
.swiper img{
  height: 150px;
  width: 100%;
}

.price-container{
  float: left;
  background: #6ADADB;
  color: #fff;
  width: 55%;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
}

.price-container img{
  width: 23px;
  margin-left: 3px;
  margin-top: -5px;
  vertical-align: middle;
}

.price-container .medium{
  height: 35px;
  font-size: 12px;
}

.time-container{
  width: 45%;
  height: 45px;
  font-weight: 600;
  line-height: 45px;
  float: left;
  background: #fff;
}

.clock-box{
  color: #FEAA34;
  font-size: 12px;
  text-align: center;
}

.days,.hour,.minute,.second{
  display: inline-block;
  background: #000;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  margin: 0 3px;
}

.dwell{
  float: left;
  width: 55%;
}

.original{
  float: left;
  width: 45%;
  font-size: 12px;
}

.pdiv{
  height: 45px;
  width: 100%;
}

.original div{
  width: 100%;
  margin-left: 5px;
}

.original-title{
  position: relative;
  top: -8px;
}

.original-price{
  position: relative;
  top: -35px;
  font-size: 13px;
}

.small{
  font-size: 12px;
}

.route-name{
  margin-top: 10px;
  height: 60px;
  background: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.route-name span{
  width: 70%;
  display: inline-block;
  margin: 8px;
}

.menu-containeer{
  border: 1px solid #F3F3F3;
  width: 100%;
}

.menu-containeer ul{
  width: 100%;
  height: 45px;
  background: #fff;
  text-align: center;
  line-height: 45px;
  padding: 0;
}

.swiper{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.menu-containeer ul li{
  list-style: none;
  float: left;
  width: 33.3%;
  height: 45px;
}

.active{
  background: #FCE8D0;
  color: #FDB143;
  border-bottom: 1px solid #FDB143;
}

.content{
  padding: 15px;
}

.content .title span{
  border-left: 3px solid #FF9C00;
  margin-right: 5px;
}

.menu-containeer a{
  color: #000;
}

.cde{
  padding: 10px;
}

.cde span{
  color: #FF9C00;
  margin-right: 5px;
}

.cde p{
  padding: 0 5px;
}

.foot{
  position: fixed;
  bottom: 0px;
  background: #fff;
  height: 55px;
  width: 100%;
}

.foot .left{
  width: 20%;
  float: left;
  text-align: center;
  padding: 3px;
}

.foot .left img{
  height: 30px;
}

.foot .left span{
  color: #6ADADB;
}

.foot .right{
  float: left;
  width: 80%;
  text-align: center;
  line-height: 55px;
  font-size: 14px;
  color: #fff;
  background: #6ADADB;
}
/* 首页css */
.topimg{
  width:100%;
  height: 120px;
  margin: 0 auto;
}
.topimg img{
  width: 100%;
  height: 100%;
}
.card{
  width:95%;
  margin: 5px auto;
  position: relative;
  overflow: hidden;
}
.card-item{
  width: 100%;
  height:170px;
  border-radius: 10px;
  background-image: url("http://m.tuniucdn.com/fb2/t1/G1/M00/8D/1B/Cii9EFcdgtWILx9WACMCHq2k-KcAAERaQAAAAAAIwI2208_w320_h180_c0_t0.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  position: relative;
  margin-bottom: 15px;
}
.card-item .card-title{
  width: 75%;
  float: left;
  color: #fff;
  font-size: 18px;
  padding: 15px 0 0 20px;
}
.card-item .card-title span{
  display: block;
}
.card-item .card-title span:nth-child(2){
  font-size: 14px;
  color:#eee;
}
.card-right{
  width: 20%;
  position: absolute;
  right: 0;
  margin-right: -1px;
}
.card-right img{
  width: 100%;
  height:100%;
}
.card-price{
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 15px;
  color:#fff;
}
.card-price s{
  padding: 0 20px;
  display: block;
}
.card-price span{
  padding: 0 10px 5px 20px;
  font-size: 18px;
  color: orange;
  font-weight: 600;
}
.card-btn{
  width: 170px;
  height:100px;
  right:0;
  position: absolute;
  bottom: 0;
}
.card-btn button{
  background: orange;
  color: #fff;
  text-align: center;
  height: 30px;
  border:none;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
}
.card-time{
  position: absolute;
  bottom: 15px;
}
.card-stock{
  width: 170px;
  height:30px;
  line-height: 30px;
  right:0;
  position: absolute;
  bottom:35px;
  color:#FEAA34;
  font-size: 12px;
}
.bar{
  background: #666;
  width: 100px;
  height: 10px;
  float: right;
  margin-top: 11px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
}
.bar-used{
  position: absolute;
  top: 0;
  z-index: 2;
  background:#FEAA34;
  width:70%;
  height: 100%;
  border-radius: 10px;
}