/* Base Application Styles */
*{
    padding: 0;
    margin: 0;
}
body {
  background: #F2F2F2;
}

.swiper img{
  height: 150px;
  width: 100%;
}

.price-container{
  float: left;
  background: #6ADADB;
  color: #fff;
  width: 55%;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
}

.price-container img{
  width: 23px;
  margin-left: 3px;
  margin-top: -5px;
  vertical-align: middle;
}

.price-container .medium{
  height: 35px;
  font-size: 12px;
}

.time-container{
  width: 45%;
  height: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 45px;
  float: left;
  color: #FEAA34;
  font-size: 12px;
  background: #fff;
}

.days,.hour,.minute,.second{
  display: inline-block;
  background: #000;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  margin: 0 3px;
}

.dwell{
  float: left;
  width: 55%;
}

.original{
  float: left;
  width: 45%;
  font-size: 12px;
}

.pdiv{
  height: 45px;
  width: 100%;
}

.original div{
  width: 100%;
  margin-left: 5px;
}

.original-title{
  position: relative;
  top: -8px;
}

.original-price{
  position: relative;
  top: -35px;
  font-size: 13px;
}

.small{
  font-size: 12px;
}

.route-name{
  margin-top: 10px;
  height: 60px;
  background: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.route-name span{
  width: 70%;
  display: inline-block;
  margin: 8px;
}

.menu-containeer{
  border: 1px solid #F3F3F3;
  width: 100%;
}

.menu-containeer ul{
  width: 100%;
  height: 45px;
  background: #fff;
  text-align: center;
  line-height: 45px;
  padding: 0;
}

.swiper{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.menu-containeer ul li{
  list-style: none;
  float: left;
  width: 33.3%;
  height: 45px;
}

.active{
  background: #FCE8D0;
  color: #FDB143;
  border-bottom: 1px solid #FDB143;
}

.content{
  padding: 15px;
}

.content .title span{
  border-left: 3px solid #FF9C00;
  margin-right: 5px;
}

.menu-containeer a{
  color: #000;
}

.cde{
  padding: 10px;
}

.cde span{
  color: #FF9C00;
  margin-right: 5px;
}

.cde p{
  padding: 0 5px;
}

.foot{
  position: fixed;
  bottom: 0px;
  background: #fff;
  height: 55px;
  width: 100%;
}

.foot .left{
  width: 20%;
  float: left;
  text-align: center;
  padding: 3px;
}

.foot .left img{
  height: 30px;
}

.foot .left span{
  color: #6ADADB;
}

.foot .right{
  float: left;
  width: 80%;
  text-align: center;
  line-height: 55px;
  font-size: 14px;
  color: #fff;
  background: #6ADADB;
}
