.clock-box{
  text-align: center;
  color: #FEAA34;
  font-size: 12px;
}

.days,.hour,.minute,.second{
  display: inline-block;
  background: #000;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  margin: 0 3px;
}

